<div class="form-group mb-4">
    <label for="uid">UID</label>
    <input required type="number" name="uid" id="uid" class="form-control">
</div>

<div class="form-group mb-4">
    <label for="vendor">Vendor</label>
    <input required type="text" name="vendor" id="vendor" class="form-control">
</div>

<div class="form-group mb-4">
    <label for="date">Date Created</label>
    <input required type="date" name="date" id="date" class="form-control">
</div>

<div class="form-group mb-4">
    <label for="status">Status</label>
    <select class="btn btn-success form-control" name="status" id="status">
        <option value="Online">Online</option>
        <option value="Offline">Offline</option>
    </select>
</div>

<div class="form-group mb-4">
    <%  let allowSave = false;
        if(availableGateways.length > 0) { 
            allowSave = true %>
            <label for="gatewayPick">Associate to</label>
            <select required class="btn btn-success form-control" name="gatewayPick" id="gatewayPick">
                <% availableGateways.forEach(gateway => { %>
                    <option value="<%= gateway.slug %>"><%= gateway.name %></option>
                <% }) %>
            </select>
        <% } else { %>
            <h6>There are no available gateways</h6>
        <% } %>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<% if(allowSave) { %>
    <button type="submit" class="btn btn-primary">Save</button>
<% } %>